# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/

# Flutter / Dart
**/.dart_tool/
**/build/
**/*.iml
**/pubspec_overrides.yaml

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
venv/

# Logs
*.log
.kwref/
